body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1, h2, h3, .h1, .h2, .h3{
  font-weight: 100;
}

h1, .h1 { font-size: 36px; line-height: 40px; }
h2, .h2 { font-size: 30px; line-height: 40px; }
h3, .h3 { font-size: 24px; line-height: 40px; }
h4, .h4 { font-size: 18px; line-height: 20px; }
h5, .h5 { font-size: 14px; line-height: 20px; }
h6, .h6 { font-size: 12px; line-height: 20px; }

.static_content {
    background: white;
    width: 65%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5em;
    box-shadow: 0 4px 6px 1px rgba(50, 50, 50, 0.14);
    line-height: 1.5;
}

#base-map{
  top:0;
  left:0;
  position: absolute;
  position: fixed;
  width:100%;
  height:100%;
  display:block;
  margin: 0;
}

.modal-backdrop.fade.in {
  background: transparent;
}

.modal-backdrop.fade.in:before {
  content: '';
  position: fixed;
  height: 10000em;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: block;
  top: 0;
}

.modal-loading{
  top:0%;
  left:0%;
  position:absolute;
  z-index:10000;
  background: white;
  width:100%;
  height:100%;
  opacity: 0.8;
}

.modal-loading-content {
  margin: auto;
  display: block;
  width: 400px;
  text-align: center;
  top: 40%;
  position: relative;
  font-size: 2em;
  color: #7B7B7B;
}

#searchableLayers .modal-header {
  padding: 0;
  position: relative;
  width: 100%;
  display: block;
  height: 60px;
}

#searchableLayers .modal-header>.filter-heading{
  float:left;
  height: 100px;
  width: 100%;
  display: block;
  position: relative;
  padding: 15px;
  margin: -21px 0;
  background: rgb(119, 67, 208);
  z-index: 1;
  color: rgb(247, 247, 247);
}

#searchableLayers .modal-header>.filter-heading.active{
  height: 150px;
}

#searchableLayers .modal-header h2,#searchableLayers .modal-header a {
  float: left;
  display:inline-block;
}

#searchableLayers .modal-header>.filter-heading+div{
  position: relative;
  bottom: 30px;
  float: left;
  width: 100%;
}

#searchableLayers .modal-header>.filter-heading+div nav{
  float: left;
  background-color: rgb(108, 61, 189);
  padding-left: 30px;
  width: 100%;
  padding-top: 5px;
}


#searchableLayers .modal-header>.filter-heading+div form.navbar-form.navbar-left{
  margin-top:5px;
}

#searchableLayers button.close {
  z-index: 2;
  position: absolute;
  right: 15px;
  top: -12px;
  font-size: 2em;
}

.filter-heading .btn.rotate{
  transition: all 0.2s;
}

.filter-heading .btn.btn-inverse{
  color:rgb(188, 166, 226);
}

.filter-heading .btn.btn-inverse:hover{
  color:rgb(107, 42, 216);
}

.filter-heading .btn.active{
  transform: rotateZ(180deg);
  box-shadow:0 -10px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19)!important;
  color:rgb(107, 42, 216);
}

a:hover{
  cursor:pointer;
}

.content {
  width: 100%;
  position: relative;
  height: 100%;
  top: 0;
  left: 0;
  margin-top: -40px;
  padding-top: 40px;
}

.modal-content .modal-body {
  padding: 15px;
}

#map {
  width: 100%;
  height: 100%;
}

#banner {
  background-image: url('../images/bg.jpg');
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#banner h1 {
  color: white;
  font-weight: 700;
  text-shadow: 2px 2px #666699;
  text-align: center;
  
}

.container {
  width: 100%;
}

.navbar{
  position: relative;
  z-index:100;
  margin: 0;
}

.navbar .nav > li {
  float: left;
}

.navbar .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar .navbar-brand {
  padding: 5px 15px;
  height: auto;
}


.navbar.navbar-clear {
  background-color: rgba(248, 248, 248, 0.85);
  min-height: 25px;
}

.navbar.navbar-inverse{
  background-color: rgb(82, 100, 174);
}

.project .navbar.navbar-clear.navbar-inverse{
  background-color: rgba(82, 100, 174, 0.35);
  transition: background-color 0.2s;
}

.project .navbar.navbar-clear.navbar-inverse:hover{
  background-color:#5264ae;
  background-color: rgba(82, 100, 174, 0.92);
}

.nav.navbar-nav.navbar-right .btn {
  margin: 0;
}

.layer-list{
  position: relative;
  width:100%;
}

.layer-list-item:nth-child(even){
  background: #EEE;
}

#ex1Slider .slider-selection {
  background: #BABABA;
}

.layer-controls{
  display:block;
  float: left;
  position: relative;
  z-index: 11;
  left: 0%;
  width: 420px;
  margin-left:30px;
  margin-top:15px;
}

.card{
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 4px 6px 1px rgba(50, 50, 50, 0.14);
  box-sizing: border-box;
  color: black;
  line-height: 1.5;
  margin: 1.5em;
  max-width: 640px;
  padding: 15px 20px 15px 25px;
  top: 0;
  left: 0;
  z-index: 4;
}

.layer-controls .card{
  margin:0;
  padding-bottom: 0;
}

.layer-controls .card h3 {
  margin-bottom: 0;
}

.layer-controls .card h3+hr,
.modal-body h3+hr{
  margin-top: 5px;
}

.modal-body label {
  color: rgb(155, 82, 163);
  font-weight: normal;
  border-bottom: none;
}

.layer-list .list-group .list-group-item{
  overflow:visible;
  padding: 0px 0px 0px 5px;
}
.layer-list .list-group .list-group-item .row-content {
  width: 70%;
  overflow: hidden;
}

.layer-list .list-group .list-group-item .row-action-primary .icon{
  background: rgb(245, 245, 245);
  display: block;
  padding: 10px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.layer-list .list-group .list-group-item .row-action-primary img{
  width:20px;
  max-height: 26px;
  margin: 2px auto;
  background: none;
}

.planningatlanta .mdi-maps-place:before,
.wms .mdi-maps-place:before {
  content: "\e867";
}

.slider .tooltip.top,
.tooltip.tooltip-max.bottom,
.tooltip-min, .tooltip-max,
.tooltip.tooltip-main{
  display: none;
}

.slider:hover .tooltip.tooltip-main{
  display:block;
  transition: all 0.2s ease;
}

.slider.slider-horizontal, .slider.slider-vertical{
  background: transparent;
}

.slider-selection {
  background: rgb(215, 233, 247);
  border-radius: 0;
  transition: all 0.2s;
}

.slider.slider-horizontal .slider-track {
  height: 2px;
  margin-top: -1px;
}

.slider.slider-vertical .slider-track {
  width: 2px;
  margin-left: -3px;
}

.slider-handle.min-slider-handle.round {
  margin-top: -4px;
  width: 10px;
  height: 10px;
  transition:all 0.2s;
}

.slider:hover .slider-handle.min-slider-handle.round {
  margin-top: -10px;
  width: 20px;
  height: 20px;
}

.slider.slider-vertical .slider-handle.min-slider-handle.round{
  margin-left:-4px;
}

.slider.slider-vertical:hover .slider-handle.min-slider-handle.round{
  margin-left:-9px;
}

.slider.slider-horizontal{
  width:100%;
}

.slider.slider-vertical .slider-track {
  background: rgb(66, 169, 247);
}

.layer-list .item .slider.slider-vertical {
  float: right;
  height: 100px;
  margin-right: 3px;
}

h3 .btn {
  margin: 0;
}

.btn-fab.btn-xs {
  font-size: 18px;
  height: 29px;
  width: 29px;
  margin: 0px;
  padding: 6px;
  box-shadow: 1px 1px 5px rgba(119, 119, 119, 0.25);
}

.btn-fab.btn-xs.btn-flat{
  box-shadow: none;
}


.btn-fab.btn-sm {
  font-size: 2em;
  height: 40px;
  width: 40px;
  margin: 20px;
  padding: 7px;
}

.btn .mdi-large {
  font-size: 2em;
  float: left;
  line-height: 0.5;
  margin: 2px 9px 0 0;
}

.btn:not(.btn-link):not(.btn-flat).btn-add {
  background: rgb(33, 199, 123);
  color:#FFF;
}

.btn:not(.btn-link):not(.btn-flat).btn.rotate span{
  transition: transform 0.2s;
}

.btn:not(.btn-link):not(.btn-flat).btn-add:hover,
.btn:not(.btn-link):not(.btn-flat).btn-add:focus{
  color:#FFF;
}

.btn:not(.btn-link):not(.btn-flat).btn-add:active span{
  transform: rotateZ(180deg);
}

.btn:not(.btn-link):not(.btn-flat).btn-added{
  background: rgb(247, 103, 0);
  color:#FFF;
}

.btn:not(.btn-link):not(.btn-flat).btn-added.rotate span{
  transition: transform 0.2s;
}

.btn:not(.btn-link):not(.btn-flat).btn-added:hover,
.btn:not(.btn-link):not(.btn-flat).btn-added:focus{
  color:#FFF;
}

.btn:not(.btn-link):not(.btn-flat).btn-added:active span{
  transform: rotateZ(-180deg);
}

.layer-list .btn-added.btn-fab.btn-sm {
  font-size: 20px;
  height: 32px;
  width: 32px;
  margin: -28px;
  margin-bottom: 28px;
  padding: 6px;
}

.project-list{
  padding-top:20px;
}

.leaflet-top.leaflet-right {
  top: 40px;
}

.well.square{
  float:left;
  width: 22%;
  margin-left: 2.5%;
  position:relative;
  padding-bottom: 8px;
}

.well.square .row a{
  width:100%;
  left:0;
  top:0;
}

.well.square .heading {
  margin-top: 0;
  font-size: 1.5em;
  line-height: 1.5;
}

a.action.project-delete {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 19px;
  height: 35px;
  width: 35px;
  margin: 0;
  padding: 8px 9px;
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

a.action.project-delete:hover, 
a.action.project-delete:focus{
  opacity:1;
}

a#show-layer-options {
  z-index: 10;
  background-color: white;
  position: absolute;
}

a#show-layer-options,
a#hide-layer-options {
  color: rgb(158, 158, 158);
  transition: color 0.2s, background 0.2s;
}

a#show-layer-options:hover,
a#hide-layer-options:hover{
  color: white;
  background-color: rgb(181, 181, 181);
}



/*Map items test*/
.shuffle-items{
  width: 100%;
  float:left;
  display:block;
  list-style:none;
  margin:0;
  padding:0;
  position:relative;
  margin-top: 20px;
}

.shuffle-items li.item {
  width:100%;
  float:left;
  background-color:#fff;
  border-radius: 2px;
  box-shadow: 0 4px 6px 1px rgba(50, 50, 50, 0.14);
  box-sizing: border-box;
  color: black;
  line-height: 1.5;
  margin:0;
  padding: 15px 20px 15px 25px;
  top: 0;
  left: 0;
  z-index: 4;
  position:absolute;
  transition-property: height, top, margin-top;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.shuffle-items li.item p.alt{
  display:none;
}

.shuffle-items li.item.collapsed{
  padding: 5px 15px 0px 15px;
  height:40px;
  z-index: 3;
  position:relative;
  top:160px;
  transition-property: height, top, margin-top;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.shuffle-items li.item.collapsed h4,
.shuffle-items li.item.collapsed p,
.shuffle-items li.item.collapsed div{
  display:none;
}

.shuffle-items li.item.collapsed div.icon,
.shuffle-items li.item.collapsed div.map-marker{
  display: inline-block;
  font-size: 22px;
  line-height: 1;
  position: relative;
  top: 2px;
}

.shuffle-items li.item.collapsed p.alt{
  display:block;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.layer-controls .shuffle-items{
  margin-top: -10px;
  max-width: 640px;
}

.top-layer-button {
  position: absolute;
  top: -30px;
  left: -30px;
  transition: background-color 0.2s;
}

.top-layer-button:hover, .top-layer-button:focus{
  background-color:#FFF;
}

.layer_description {
  float: left;
}

.footer {
  width: 100%;
  position: relative;
  bottom: 0;
  height: 80px;
  background: rgb(224, 227, 236);
}

img.geojson {
  width: 100%;
  height: auto;
}

img.institution_logo {
  width: 16px;
  height: auto;
}

.leaflet-popup-content-wrapper {
  min-width: 500px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

#create_project {
  padding: 20px;
}

.leaflet-popup-content {
  margin: auto;
  width: 80%!important;
  padding: 0;
}

span.institution {
  font-style: italic;
}

.nav-btn {
  padding-top: 2;
  padding-bottom: 2;
}

.shuffle-items li.item.info .content{
  margin-top: -20px;
  padding-bottom: 20px;
  overflow: hidden;
  padding-top: 0;
}

.shuffle-items li.item.info h2{
  margin-top:0;
}


.alt-header{
  color: rgb(107, 107, 107);
}

.alt-header .lead{
  color: rgb(152, 152, 152)
}

.login-form{
  max-width: 360px;
  margin:0 auto;
}

.login-form.well{
  padding: 2em 2.5em;
}

.login-form h2{
  margin-top: 0.5em;
  margin-bottom:0.75em;
  text-align:center
}

.login-form form{
  padding-top:1em;
}

.login-form .form-group{
  margin-bottom:1.75em;
}

.login-form button[type='submit']{
  margin-top:2em;
}

#welcome {
  color: white;
  margin: .6em;
}

#title-input {
  margin-top: 2em;
  padding-right: 0;
}

#title-button {
  float: none !important;
  padding-right: 8px;
  padding-left: 8px;
  margin-top: 2em;
}

.form-control.h1, .form-control.h1:focus {
  height: auto;
  margin-top:0;
}

.tagsIcon {
  float: left;
  margin-right: .5em;
}

img.layerMarker {
  max-height: 20px;
}

.layer_marker {
  margin-right: 3px;
  min-width: 20px;
  position: relative;
  display: inline-block;
}

.item.collapsed .layer_marker{
  opacity: 0.5;
}

#project_edit_form {
  position: absolute;
  z-index: 100;
  top: 30px;
  padding-top: 10px;
  max-width: 500px;
  min-height: 500px;
}

#project_edit_form h3{
  margin-bottom:30px;
  color: rgb(129, 120, 140);
}

#project_edit_form label{
  color: rgb(143, 146, 153);
  font-weight: bold;
  border-bottom-color: rgb(219, 221, 226);
}

#filter_and_search {
  display: none;
}

.publish_check {
    margin-top: 2em;
}

/*img.active_marker {
height: 100px !important;
}*/


@-webkit-keyframes blink { 
  0%, {opacity: 0.25;} 
  40% {opacity: 0.50;} 
  60% {opacity: 0.75;}
  100% {opacity: 1;}
} 

@keyframes blink { 
  0%, {opacity: 0.25;} 
  40% {opacity: 0.50;} 
  60% {opacity: 0.75;}
  100% {opacity: 1;} 
}
