/*General marker style*/
.map-marker .map-marker {
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 26px;
  margin-top: -34px; /*Shift by arrow top+height*/
  margin-left: -12px; /*Shift by half the marker width*/
  line-height: 22px;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}
.leaflet-marker-pane .map-marker div.icon {
  position: relative;
  width: 22px; /*Same as marker width*/
  height: 22px; /*Same as marker height*/
  border-radius: 22px;
  margin-left: 2px;
  margin-top: 2px;
  background-repeat:no-repeat;
  background-position:center;
  display:block;
  font-size: 46px;
}
.map-marker div.icon {
  /*Icon Font*/
  font-family: Material-Design-Icons;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 32px;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
  transition: color 0.2s;
}

.map-marker div.icon:before{
  content:"\e88b";
}

.layer-marker div.icon:before {
  content: "\e867";
}

.laoding div.icon:before {
  content: "\e8c0";
}

.map-marker div.shadow{
  background-image:url('/images/marker-shadow.png');
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: -6px;
  right: -20px;
  opacity:1;
}

/*Marker states*/
.map-marker.inactive {
  opacity: 0.6;
}

.map-marker.active_marker{
  z-index: 1000000!important;
  pointer-events: none;
}

.map-marker.active_marker div.icon:before{
  content: "\e88a";
  position: absolute;
  top: -22px;
  left: -18px;
  font-size: 80px;
}

.map-marker.highlighted div.icon{
  color: red;
}
.map-marker.highlighted div.arrow{
  border-color: #000 transparent transparent transparent;
}

/*Marker color instances*/
.map-marker.layer-red {
  color: #ef5350;
}
.map-marker.layer-red-50 {
  color: #ffebee;
}
.map-marker.layer-red-100 {
  color: #ffcdd2;
}
.map-marker.layer-red-200 {
  color: #ef9a9a;
}
.map-marker.layer-red-300 {
  color: #e57373;
}
.map-marker.layer-red-400 {
  color: #ef5350;
}
.map-marker.layer-red-500 {
  color: #f44336;
}
.map-marker.layer-red-600 {
  color: #e53935;
}
.map-marker.layer-red-700 {
  color: #d32f2f;
}
.map-marker.layer-red-800 {
  color: #c62828;
}
.map-marker.layer-red-900 {
  color: #b71c1c;
}
.map-marker.layer-red-A100 {
  color: #ff8a80;
}
.map-marker.layer-red-A200 {
  color: #ff5252;
}
.map-marker.layer-red-A400 {
  color: #ff1744;
}
.map-marker.layer-red-A700 {
  color: #d50000;
}
.map-marker.layer-pink {
  color: #ec407a;
}
.map-marker.layer-pink-50 {
  color: #fce4ec;
}
.map-marker.layer-pink-100 {
  color: #f8bbd0;
}
.map-marker.layer-pink-200 {
  color: #f48fb1;
}
.map-marker.layer-pink-300 {
  color: #f06292;
}
.map-marker.layer-pink-400 {
  color: #ec407a;
}
.map-marker.layer-pink-500 {
  color: #e91e63;
}
.map-marker.layer-pink-600 {
  color: #d81b60;
}
.map-marker.layer-pink-700 {
  color: #c2185b;
}
.map-marker.layer-pink-800 {
  color: #ad1457;
}
.map-marker.layer-pink-900 {
  color: #880e4f;
}
.map-marker.layer-pink-A100 {
  color: #ff80ab;
}
.map-marker.layer-pink-A200 {
  color: #ff4081;
}
.map-marker.layer-pink-A400 {
  color: #f50057;
}
.map-marker.layer-pink-A700 {
  color: #c51162;
}
.map-marker.layer-purple {
  color: #ab47bc;
}
.map-marker.layer-purple-50 {
  color: #f3e5f5;
}
.map-marker.layer-purple-100 {
  color: #e1bee7;
}
.map-marker.layer-purple-200 {
  color: #ce93d8;
}
.map-marker.layer-purple-300 {
  color: #ba68c8;
}
.map-marker.layer-purple-400 {
  color: #ab47bc;
}
.map-marker.layer-purple-500 {
  color: #9c27b0;
}
.map-marker.layer-purple-600 {
  color: #8e24aa;
}
.map-marker.layer-purple-700 {
  color: #7b1fa2;
}
.map-marker.layer-purple-800 {
  color: #6a1b9a;
}
.map-marker.layer-purple-900 {
  color: #4a148c;
}
.map-marker.layer-purple-A100 {
  color: #ea80fc;
}
.map-marker.layer-purple-A200 {
  color: #e040fb;
}
.map-marker.layer-purple-A400 {
  color: #d500f9;
}
.map-marker.layer-purple-A700 {
  color: #aa00ff;
}
.map-marker.layer-deep-purple {
  color: #7e57c2;
}
.map-marker.layer-deep-purple-50 {
  color: #ede7f6;
}
.map-marker.layer-deep-purple-100 {
  color: #d1c4e9;
}
.map-marker.layer-deep-purple-200 {
  color: #b39ddb;
}
.map-marker.layer-deep-purple-300 {
  color: #9575cd;
}
.map-marker.layer-deep-purple-400 {
  color: #7e57c2;
}
.map-marker.layer-deep-purple-500 {
  color: #673ab7;
}
.map-marker.layer-deep-purple-600 {
  color: #5e35b1;
}
.map-marker.layer-deep-purple-700 {
  color: #512da8;
}
.map-marker.layer-deep-purple-800 {
  color: #4527a0;
}
.map-marker.layer-deep-purple-900 {
  color: #311b92;
}
.map-marker.layer-deep-purple-A100 {
  color: #b388ff;
}
.map-marker.layer-deep-purple-A200 {
  color: #7c4dff;
}
.map-marker.layer-deep-purple-A400 {
  color: #651fff;
}
.map-marker.layer-deep-purple-A700 {
  color: #6200ea;
}
.map-marker.layer-indigo {
  color: #5c6bc0;
}
.map-marker.layer-indigo-50 {
  color: #e8eaf6;
}
.map-marker.layer-indigo-100 {
  color: #c5cae9;
}
.map-marker.layer-indigo-200 {
  color: #9fa8da;
}
.map-marker.layer-indigo-300 {
  color: #7986cb;
}
.map-marker.layer-indigo-400 {
  color: #5c6bc0;
}
.map-marker.layer-indigo-500 {
  color: #3f51b5;
}
.map-marker.layer-indigo-600 {
  color: #3949ab;
}
.map-marker.layer-indigo-700 {
  color: #303f9f;
}
.map-marker.layer-indigo-800 {
  color: #283593;
}
.map-marker.layer-indigo-900 {
  color: #1a237e;
}
.map-marker.layer-indigo-A100 {
  color: #8c9eff;
}
.map-marker.layer-indigo-A200 {
  color: #536dfe;
}
.map-marker.layer-indigo-A400 {
  color: #3d5afe;
}
.map-marker.layer-indigo-A700 {
  color: #304ffe;
}
.map-marker.layer-blue {
  color: #42a5f5;
}
.map-marker.layer-blue-50 {
  color: #e3f2fd;
}
.map-marker.layer-blue-100 {
  color: #bbdefb;
}
.map-marker.layer-blue-200 {
  color: #90caf9;
}
.map-marker.layer-blue-300 {
  color: #64b5f6;
}
.map-marker.layer-blue-400 {
  color: #42a5f5;
}
.map-marker.layer-blue-500 {
  color: #2196f3;
}
.map-marker.layer-blue-600 {
  color: #1e88e5;
}
.map-marker.layer-blue-700 {
  color: #1976d2;
}
.map-marker.layer-blue-800 {
  color: #1565c0;
}
.map-marker.layer-blue-900 {
  color: #0d47a1;
}
.map-marker.layer-blue-A100 {
  color: #82b1ff;
}
.map-marker.layer-blue-A200 {
  color: #448aff;
}
.map-marker.layer-blue-A400 {
  color: #2979ff;
}
.map-marker.layer-blue-A700 {
  color: #2962ff;
}
.map-marker.layer-light-blue {
  color: #29b6f6;
}
.map-marker.layer-light-blue-50 {
  color: #e1f5fe;
}
.map-marker.layer-light-blue-100 {
  color: #b3e5fc;
}
.map-marker.layer-light-blue-200 {
  color: #81d4fa;
}
.map-marker.layer-light-blue-300 {
  color: #4fc3f7;
}
.map-marker.layer-light-blue-400 {
  color: #29b6f6;
}
.map-marker.layer-light-blue-500 {
  color: #03a9f4;
}
.map-marker.layer-light-blue-600 {
  color: #039be5;
}
.map-marker.layer-light-blue-700 {
  color: #0288d1;
}
.map-marker.layer-light-blue-800 {
  color: #0277bd;
}
.map-marker.layer-light-blue-900 {
  color: #01579b;
}
.map-marker.layer-light-blue-A100 {
  color: #80d8ff;
}
.map-marker.layer-light-blue-A200 {
  color: #40c4ff;
}
.map-marker.layer-light-blue-A400 {
  color: #00b0ff;
}
.map-marker.layer-light-blue-A700 {
  color: #0091ea;
}
.map-marker.layer-cyan {
  color: #26c6da;
}
.map-marker.layer-cyan-50 {
  color: #e0f7fa;
}
.map-marker.layer-cyan-100 {
  color: #b2ebf2;
}
.map-marker.layer-cyan-200 {
  color: #80deea;
}
.map-marker.layer-cyan-300 {
  color: #4dd0e1;
}
.map-marker.layer-cyan-400 {
  color: #26c6da;
}
.map-marker.layer-cyan-500 {
  color: #00bcd4;
}
.map-marker.layer-cyan-600 {
  color: #00acc1;
}
.map-marker.layer-cyan-700 {
  color: #0097a7;
}
.map-marker.layer-cyan-800 {
  color: #00838f;
}
.map-marker.layer-cyan-900 {
  color: #006064;
}
.map-marker.layer-cyan-A100 {
  color: #84ffff;
}
.map-marker.layer-cyan-A200 {
  color: #18ffff;
}
.map-marker.layer-cyan-A400 {
  color: #00e5ff;
}
.map-marker.layer-cyan-A700 {
  color: #00b8d4;
}
.map-marker.layer-teal {
  color: #26a69a;
}
.map-marker.layer-teal-50 {
  color: #e0f2f1;
}
.map-marker.layer-teal-100 {
  color: #b2dfdb;
}
.map-marker.layer-teal-200 {
  color: #80cbc4;
}
.map-marker.layer-teal-300 {
  color: #4db6ac;
}
.map-marker.layer-teal-400 {
  color: #26a69a;
}
.map-marker.layer-teal-500 {
  color: #009688;
}
.map-marker.layer-teal-600 {
  color: #00897b;
}
.map-marker.layer-teal-700 {
  color: #00796b;
}
.map-marker.layer-teal-800 {
  color: #00695c;
}
.map-marker.layer-teal-900 {
  color: #004d40;
}
.map-marker.layer-teal-A100 {
  color: #a7ffeb;
}
.map-marker.layer-teal-A200 {
  color: #64ffda;
}
.map-marker.layer-teal-A400 {
  color: #1de9b6;
}
.map-marker.layer-teal-A700 {
  color: #00bfa5;
}
.map-marker.layer-green {
  color: #66bb6a;
}
.map-marker.layer-green-50 {
  color: #e8f5e9;
}
.map-marker.layer-green-100 {
  color: #c8e6c9;
}
.map-marker.layer-green-200 {
  color: #a5d6a7;
}
.map-marker.layer-green-300 {
  color: #81c784;
}
.map-marker.layer-green-400 {
  color: #66bb6a;
}
.map-marker.layer-green-500 {
  color: #4caf50;
}
.map-marker.layer-green-600 {
  color: #43a047;
}
.map-marker.layer-green-700 {
  color: #388e3c;
}
.map-marker.layer-green-800 {
  color: #2e7d32;
}
.map-marker.layer-green-900 {
  color: #1b5e20;
}
.map-marker.layer-green-A100 {
  color: #b9f6ca;
}
.map-marker.layer-green-A200 {
  color: #69f0ae;
}
.map-marker.layer-green-A400 {
  color: #00e676;
}
.map-marker.layer-green-A700 {
  color: #00c853;
}
.map-marker.layer-light-green {
  color: #9ccc65;
}
.map-marker.layer-light-green-50 {
  color: #f1f8e9;
}
.map-marker.layer-light-green-100 {
  color: #dcedc8;
}
.map-marker.layer-light-green-200 {
  color: #c5e1a5;
}
.map-marker.layer-light-green-300 {
  color: #aed581;
}
.map-marker.layer-light-green-400 {
  color: #9ccc65;
}
.map-marker.layer-light-green-500 {
  color: #8bc34a;
}
.map-marker.layer-light-green-600 {
  color: #7cb342;
}
.map-marker.layer-light-green-700 {
  color: #689f38;
}
.map-marker.layer-light-green-800 {
  color: #558b2f;
}
.map-marker.layer-light-green-900 {
  color: #33691e;
}
.map-marker.layer-light-green-A100 {
  color: #ccff90;
}
.map-marker.layer-light-green-A200 {
  color: #b2ff59;
}
.map-marker.layer-light-green-A400 {
  color: #76ff03;
}
.map-marker.layer-light-green-A700 {
  color: #64dd17;
}
.map-marker.layer-lime {
  color: #d4e157;
}
.map-marker.layer-lime-50 {
  color: #f9fbe7;
}
.map-marker.layer-lime-100 {
  color: #f0f4c3;
}
.map-marker.layer-lime-200 {
  color: #e6ee9c;
}
.map-marker.layer-lime-300 {
  color: #dce775;
}
.map-marker.layer-lime-400 {
  color: #d4e157;
}
.map-marker.layer-lime-500 {
  color: #cddc39;
}
.map-marker.layer-lime-600 {
  color: #c0ca33;
}
.map-marker.layer-lime-700 {
  color: #afb42b;
}
.map-marker.layer-lime-800 {
  color: #9e9d24;
}
.map-marker.layer-lime-900 {
  color: #827717;
}
.map-marker.layer-lime-A100 {
  color: #f4ff81;
}
.map-marker.layer-lime-A200 {
  color: #eeff41;
}
.map-marker.layer-lime-A400 {
  color: #c6ff00;
}
.map-marker.layer-lime-A700 {
  color: #aeea00;
}
.map-marker.layer-yellow {
  color: #ffee58;
}
.map-marker.layer-yellow-50 {
  color: #fffde7;
}
.map-marker.layer-yellow-100 {
  color: #fff9c4;
}
.map-marker.layer-yellow-200 {
  color: #fff59d;
}
.map-marker.layer-yellow-300 {
  color: #fff176;
}
.map-marker.layer-yellow-400 {
  color: #ffee58;
}
.map-marker.layer-yellow-500 {
  color: #ffeb3b;
}
.map-marker.layer-yellow-600 {
  color: #fdd835;
}
.map-marker.layer-yellow-700 {
  color: #fbc02d;
}
.map-marker.layer-yellow-800 {
  color: #f9a825;
}
.map-marker.layer-yellow-900 {
  color: #f57f17;
}
.map-marker.layer-yellow-A100 {
  color: #ffff8d;
}
.map-marker.layer-yellow-A200 {
  color: #ffff00;
}
.map-marker.layer-yellow-A400 {
  color: #ffea00;
}
.map-marker.layer-yellow-A700 {
  color: #ffd600;
}
.map-marker.layer-amber {
  color: #ffca28;
}
.map-marker.layer-amber-50 {
  color: #fff8e1;
}
.map-marker.layer-amber-100 {
  color: #ffecb3;
}
.map-marker.layer-amber-200 {
  color: #ffe082;
}
.map-marker.layer-amber-300 {
  color: #ffd54f;
}
.map-marker.layer-amber-400 {
  color: #ffca28;
}
.map-marker.layer-amber-500 {
  color: #ffc107;
}
.map-marker.layer-amber-600 {
  color: #ffb300;
}
.map-marker.layer-amber-700 {
  color: #ffa000;
}
.map-marker.layer-amber-800 {
  color: #ff8f00;
}
.map-marker.layer-amber-900 {
  color: #ff6f00;
}
.map-marker.layer-amber-A100 {
  color: #ffe57f;
}
.map-marker.layer-amber-A200 {
  color: #ffd740;
}
.map-marker.layer-amber-A400 {
  color: #ffc400;
}
.map-marker.layer-amber-A700 {
  color: #ffab00;
}
.map-marker.layer-orange {
  color: #ffa726;
}
.map-marker.layer-orange-50 {
  color: #fff3e0;
}
.map-marker.layer-orange-100 {
  color: #ffe0b2;
}
.map-marker.layer-orange-200 {
  color: #ffcc80;
}
.map-marker.layer-orange-300 {
  color: #ffb74d;
}
.map-marker.layer-orange-400 {
  color: #ffa726;
}
.map-marker.layer-orange-500 {
  color: #ff9800;
}
.map-marker.layer-orange-600 {
  color: #fb8c00;
}
.map-marker.layer-orange-700 {
  color: #f57c00;
}
.map-marker.layer-orange-800 {
  color: #ef6c00;
}
.map-marker.layer-orange-900 {
  color: #e65100;
}
.map-marker.layer-orange-A100 {
  color: #ffd180;
}
.map-marker.layer-orange-A200 {
  color: #ffab40;
}
.map-marker.layer-orange-A400 {
  color: #ff9100;
}
.map-marker.layer-orange-A700 {
  color: #ff6d00;
}
.map-marker.layer-deep-orange {
  color: #ff7043;
}
.map-marker.layer-deep-orange-50 {
  color: #fbe9e7;
}
.map-marker.layer-deep-orange-100 {
  color: #ffccbc;
}
.map-marker.layer-deep-orange-200 {
  color: #ffab91;
}
.map-marker.layer-deep-orange-300 {
  color: #ff8a65;
}
.map-marker.layer-deep-orange-400 {
  color: #ff7043;
}
.map-marker.layer-deep-orange-500 {
  color: #ff5722;
}
.map-marker.layer-deep-orange-600 {
  color: #f4511e;
}
.map-marker.layer-deep-orange-700 {
  color: #e64a19;
}
.map-marker.layer-deep-orange-800 {
  color: #d84315;
}
.map-marker.layer-deep-orange-900 {
  color: #bf360c;
}
.map-marker.layer-deep-orange-A100 {
  color: #ff9e80;
}
.map-marker.layer-deep-orange-A200 {
  color: #ff6e40;
}
.map-marker.layer-deep-orange-A400 {
  color: #ff3d00;
}
.map-marker.layer-deep-orange-A700 {
  color: #dd2c00;
}
.map-marker.layer-brown {
  color: #8d6e63;
}
.map-marker.layer-brown-50 {
  color: #efebe9;
}
.map-marker.layer-brown-100 {
  color: #d7ccc8;
}
.map-marker.layer-brown-200 {
  color: #bcaaa4;
}
.map-marker.layer-brown-300 {
  color: #a1887f;
}
.map-marker.layer-brown-400 {
  color: #8d6e63;
}
.map-marker.layer-brown-500 {
  color: #795548;
}
.map-marker.layer-brown-600 {
  color: #6d4c41;
}
.map-marker.layer-brown-700 {
  color: #5d4037;
}
.map-marker.layer-brown-800 {
  color: #4e342e;
}
.map-marker.layer-brown-900 {
  color: #3e2723;
}
.map-marker.layer-brown-A100 {
  color: #d7ccc8;
}
.map-marker.layer-brown-A200 {
  color: #bcaaa4;
}
.map-marker.layer-brown-A400 {
  color: #8d6e63;
}
.map-marker.layer-brown-A700 {
  color: #5d4037;
}
.map-marker.layer-grey {
  color: #bdbdbd;
}
.map-marker.layer-grey-50 {
  color: #fafafa;
}
.map-marker.layer-grey-100 {
  color: #f5f5f5;
}
.map-marker.layer-grey-200 {
  color: #eeeeee;
}
.map-marker.layer-grey-300 {
  color: #e0e0e0;
}
.map-marker.layer-grey-400 {
  color: #bdbdbd;
}
.map-marker.layer-grey-500 {
  color: #9e9e9e;
}
.map-marker.layer-grey-600 {
  color: #757575;
}
.map-marker.layer-grey-700 {
  color: #616161;
}
.map-marker.layer-grey-800 {
  color: #424242;
}
.map-marker.layer-grey-900 {
  color: #212121;
}
.map-marker.layer-grey-A100 {
  color: #f5f5f5;
}
.map-marker.layer-grey-A200 {
  color: #eeeeee;
}
.map-marker.layer-grey-A400 {
  color: #bdbdbd;
}
.map-marker.layer-grey-A700 {
  color: #616161;
}
.map-marker.layer-blue-grey {
  color: #78909c;
}
.map-marker.layer-blue-grey-50 {
  color: #eceff1;
}
.map-marker.layer-blue-grey-100 {
  color: #cfd8dc;
}
.map-marker.layer-blue-grey-200 {
  color: #b0bec5;
}
.map-marker.layer-blue-grey-300 {
  color: #90a4ae;
}
.map-marker.layer-blue-grey-400 {
  color: #78909c;
}
.map-marker.layer-blue-grey-500 {
  color: #607d8b;
}
.map-marker.layer-blue-grey-600 {
  color: #546e7a;
}
.map-marker.layer-blue-grey-700 {
  color: #455a64;
}
.map-marker.layer-blue-grey-800 {
  color: #37474f;
}
.map-marker.layer-blue-grey-900 {
  color: #263238;
}
.map-marker.layer-blue-grey-A100 {
  color: #cfd8dc;
}
.map-marker.layer-blue-grey-A200 {
  color: #b0bec5;
}
.map-marker.layer-blue-grey-A400 {
  color: #78909c;
}
.map-marker.layer-blue-grey-A700 {
  color: #455a64;
}
