
*.DS_Store
config/database.yml
.capistrano
config/initializers/devise.rb
log
tmp
public/assets
config/application.rb
public/assets
log/development.log
tmp/pids/server.pid
npm-debug.log
node_modules
lib/tasks/gs_harvest.rake
db/seeds.rb
atlmaps.load
atlmaps.sql
coverage
*.DS_Store
dump
config/initializers/fog.rb
config/secrets.yml
config/initializers/rails_api_auth.rb
.yardoc
doc
ps_start.sh
.env
