Rails.application.config.middleware.insert_before 0, Rack::Cors do
    allow do
        origins 'https://atlmaps.com'
        resource '*', headers: :any,
                      methods: [
                          :get,
                          :post,
                          :put,
                          :delete,
                          :options,
                          :patch
                      ],
                      max_age: 0
    end
end
