RailsApiAuth.tap do |raa|
  raa.user_model_relation = :user

  if Rails.env == 'development'
      raa.facebook_app_id       = '111111111111111111111'
      raa.facebook_app_secret   = '22222222222222222222'
      raa.facebook_redirect_uri = 'http://localhost'

      raa.google_client_id     = '9999999999999999999'
      raa.google_client_secret = '44444444444444444444'
      raa.google_redirect_uri  = 'http://localhost/about'
  end
end

Login.module_eval do
    before_create :confirmation_token

    def confirmed
        return self.provider.present? || \
            self.provider.nil? && self.confirm_token.nil?
    end

    def confirmation_token
      self.confirm_token = SecureRandom.urlsafe_base64.to_s
    end

end
