<%= form_with(model: vector_layer_data_group, local: true) do |form| %>
  <% if vector_layer_data_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vector_layer_data_group.errors.count, "error") %> prohibited this vector_layer_data_group from being saved:</h2>

      <ul>
        <% vector_layer_data_group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
