<h1>Editing Vector Layer Data Group</h1>

<%= render 'form', vector_layer_data_group: @vector_layer_data_group %>

<%= link_to 'Show', @vector_layer_data_group %> |
<%= link_to 'Back', vector_layer_data_groups_path %>
