
body {
	font-family: 'montserrat', Arial, sans-serif;
	background:#FFF;
	font-weight:300;
	height: 100%;
	margin: 0;
	padding: 0;
	color:#94a3a8;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #CDD5D6;
    margin: 1em 0;
    padding: 0; 
    margin-top: 60px;
	margin-bottom: 60px;
}

strong, b {
	font-weight:800;

}
p {
	color: #484b48;
	font-size: 1.3125em;
    line-height: 1.52381;
}
h1 {
	font-size:50px;
	line-height:60px;
	margin:25px 0;
	
	
}
h2 {
	font-size:40px;
	font-weight:600;
	margin:15px 0;
	color: #3a3a3a;

}
h3 {
	font-size:20px;
	margin:10px 0;
	font-weight:600;
	color: #3a3a3a;
}
h4 {
	font-size:18px;
	margin:10px 0;
	color: #3a3a3a;
}
h5 {
	font-size:24px;
	font-weight:600;
	margin:15px 0;
	color: #384047;
}
h6 {
	font-size:16px;
	font-weight:600;
	margin:10px 0;
	color: #384047;
}
a {
	color:#fff;
}
a:hover, a:focus {
	color:#5173bd;
}
.preloader {
	background-color:#FFFFFF;
	position:fixed;
	width:100%;
	height:100%;
	z-index:9999999;
}
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	z-index: 9999999;
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
	background: #fff;/*border: 1px solid #e34e47;*/
}
.pace .pace-progress {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: width 1s ease-in-out 1s linear;
	-moz-transition: width 1s ease-in-out 1s linear;
	-ms-transition: width 1s ease-in-out 1s linear;
	-o-transition: width 1s ease-in-out 1s linear;
	transition: width 1s ease-in-out 1s linear;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	max-width: 100%;
	position: fixed;
	z-index: 9999999;
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	background: #61b5f0;
}
.pace.pace-inactive {
	display: none;
}
.btn, .btn-lg, .input-lg {
	border-radius:3px;
}
.form-control {
	border-radius: 3px;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.input-lg {
	height: 55px;
	padding-left: 10px;
}
.btn-lg, .btn-group-lg > .btn {
	padding: 10px 28px;
	height: 52px;
}
.breath {
	margin:50px auto;
}
.highlight {
	background:#FBFCFD;
	padding-top:40px;
}

.highlight2 {
	
	padding-top:40px;
}

.col-centered2 {
    float: none;
    margin: 0 auto;
    }

.highlight3 {
	background:#FBFCFD;
	padding:20px;
}

.has-margin-vertical {
	margin:20px 0 30px;	
}

.has-margin-bottom {
 	margin-bottom:40px;
}
 
/*========== 1 a. SUB PAGES ==============*/


.subpage-head {
	background-color:#f4f4f4;
	padding-top: 20px;
	padding-bottom: 15px;
	margin-bottom:40px;
}


.masthead {
	position: relative;
	padding: 80px 15px;
	color: #FFF;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	background-color: #6883cc;
	background-image:url(https://s3.amazonaws.com/atlmaps-prod/assets/images/backgrounds/bg-blue-map-3a11e1bfaef1c2ecb7a235b8cc23db94.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}